* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #333; */
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: black;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    background: black;
}

.icon {
    display: none;
}

.nav ul li {
    display: inline-block;
    padding: 10px 10px;

}

.nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 10px;
}

.nav ul li a:hover {
    border-bottom: 5px solid white;
    padding-bottom: 10px;
    padding: 10px 10px;

}

@media screen and (max-width:800px) {
    .nav {
        position: absolute;
        display: none;
        right: 50px;
        top: 50px;
    }

    .icon {
        display: block;
    }

    .header {
        padding: 10px 5 0px;
        position: relative;
    }

    .nav ul {
        background: black;
    }

    .nav ul li {
        display: block;
        padding: 15px 10px;
    }

    .nav.active {
        display: block;
    }



}



#showcase {
    background: linear-gradient(rgba(14, 13, 13, 0.5), rgba(22, 22, 22, 0.5)), url(images/pro.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
    color: white;
    padding-top: 100px;
}

.book-a-section {
    margin-left: 550px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;

}

.book-a-section:hover {
    width: 250px;
    height: 50px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.h4 {
    /* color: black; */
    margin-left: 30px;
    padding-top: 80px;
    font-size: 20px;
    text-align: center;
}

#aboutus {
    margin-top: 100px;
    text-align: center;
    width: 80%;
    margin: auto;

}

.allaboutus {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}

@media screen and (max-width:800px) {

    .allaboutus {
        flex-direction: column;
    }
}


.box {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 20px;
    text-align: center;
    /* background: black; */
}

.box:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.image {
    width: 100%;
    height: 100px;
    background: url(images/pro.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.company {
    text-align: center;
    font-size: 50px;
}

.allcard {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}

@media screen and (max-width:800px) {

    .allcard {
        flex-direction: column;
    }
}

.card {
    width: 100%;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    border: 2px solid white;
    /* border-radius: 10px; */
    margin-right: 20px;
    text-align: center;
    background: black;
    color: white;
}

.profile {
    width: 100%;
    height: 150px;
    background: url(images/man.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile1 {
    width: 100%;
    height: 150px;
    background: url(images/woman\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile2 {
    width: 100%;
    height: 150px;
    background: url(images/woman2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile3 {
    width: 100%;
    height: 150px;
    background: url(images/woman3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

#team {
    margin-top: 100px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.team {
    margin-left: 380px;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;

}

.name {
    text-align: center;
    margin-top: 10px;
}

.contact {
    margin-top: 10px;
    width: 170px;
    height: 20px;
    border: none;
}

.allservice {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}

@media screen and (max-width:800px) {

    .allservice {
        flex-direction: column;
    }
}



#service {
    width: 80%;
    margin-top: 60px;
    margin: auto;
}

.paper {
    width: 100%;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    border: 2px solid white;
    /* border-radius: 10px; */
    margin-right: 20px;
    text-align: center;
    background: black;
    color: white;
}

.paper:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.business {
    width: 100%;
    height: 150px;
    background: url(images/blog\ website.jpg);
    background-position: center;
    background-size: cover;
}

.business1 {
    width: 100%;
    height: 150px;
    background: url(images/bank\ website.jpg);
    background-position: center;
    background-size: cover;
}

.business2 {
    width: 100%;
    height: 150px;
    background: url(images/bitcoin\ mining\ website.jpg);
    background-position: center;
    background-size: cover;
}

.business3 {
    width: 100%;
    height: 150px;
    background: url(images/e-commerce\ website.jpg);
    background-position: center;
    background-size: cover;
}

.business4 {
    width: 100%;
    height: 150px;
    background: url(images/socialmedia\ website.jpg);
    background-position: center;
    background-size: cover;
}

.business5 {
    width: 100%;
    height: 150px;
    background: url(images/investment\ website.jpg);
    background-position: center;
    background-size: cover;
}

.business6 {
    width: 100%;
    height: 150px;
    background: url(images/restaurant\ website.jpg);
    background-position: center;
    background-size: cover;
}

.business7 {
    width: 100%;
    height: 150px;
    background: url(images/gold\ coin.jpg);
    background-position: center;
    background-size: cover;
}

.contact1 {
    margin-top: 10px;
    width: 250px;
    height: 30px;
    border: none;
}

.allservice2 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}

@media screen and (max-width:800px) {

    .allservice2 {
        flex-direction: column;
    }
}

.service {
    margin-left: 580px;
    font-size: 40px;
    margin-bottom: 20px;
}

#contact {
    background: black;
}

.form {
    margin-left: 60px;
}

input {
    width: 1259px;
    height: 40px;
    padding-left: 20px;
}

input[type=button] {
    width: 1259px;
    border: none;
}

.fa-file-waveform,
.fa-people-group,
.fa-circle-dollar-to-slot,
.fa-phone-volume,
.fa-copyright {
    padding-right: 10px;
}

.social-icon {
    text-align: center;
}

.we {
    text-align: center;
}

#skills {
    width: 80%;
    margin-top: 60px;
    margin: auto;
    text-align: center;
}

.contain {
    width: 100%;
    height: 30px;
    background: gray;
    margin-bottom: 20px;
    text-align: right;
    padding-right: 10px;
}

.html {
    width: 99%;
    height: 30px;
    background: black;
    color: white;
    align-items: center;
}

.css {
    width: 80%;
    height: 30px;
    background: black;
    color: white;

}

.js {
    width: 80%;
    height: 30px;
    background: black;
    color: white;

}

.php {
    width: 85%;
    height: 30px;
    background: black;
    color: white;

}

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.font{
    margin-right: 5px;
    padding-top: 10px;
}

.fa-brands{
    color: white;
    padding-top: 10px;
}